<a href="https://colab.research.google.com/github/THashiz/m5-ia/blob/master/M5_basic_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# M5 基礎分析

In [0]:
# kaggle API key upload
from google.colab import files
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [0]:
!rm -rf ~/.kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.38.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)

In [0]:
# Competitionのデータをダウンロード
!kaggle competitions download -c m5-forecasting-accuracy

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading calendar.csv to /content
  0% 0.00/101k [00:00<?, ?B/s]
100% 101k/101k [00:00<00:00, 39.4MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/163k [00:00<?, ?B/s]
100% 163k/163k [00:00<00:00, 51.9MB/s]
Downloading sales_train_validation.csv.zip to /content
 45% 7.00M/15.5M [00:00<00:00, 72.1MB/s]
100% 15.5M/15.5M [00:00<00:00, 75.9MB/s]
Downloading sell_prices.csv.zip to /content
 35% 5.00M/14.2M [00:00<00:00, 32.5MB/s]
100% 14.2M/14.2M [00:00<00:00, 69.6MB/s]

In [0]:
!unzip /content/sample_submission.csv.zip
!unzip /content/sell_prices.csv.zip
!unzip /content/sales_train_validation.csv.zip

Archive:  /content/sample_submission.csv.zip
  inflating: sample_submission.csv
Archive:  /content/sell_prices.csv.zip
  inflating: sell_prices.csv
Archive:  /content/sales_train_validation.csv.zip
  inflating: sales_train_validation.csv

In [0]:
!apt-get update
!apt-get install python-pydot -y --allow-unauthenticated

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:7 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ Packages [88.1 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:12 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [37.4 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [44.6 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [839 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [12.6 kB]
Get:19 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,811 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,372 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [8,213 B]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [889 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [59.0 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,184 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [7,671 B]
Get:26 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [8,286 B]
Get:27 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [874 kB]
Fetched 7,528 kB in 4s (1,822 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  python-pyparsing
Suggested packages:
  python-pyparsing-doc
The following NEW packages will be installed:
  python-pydot python-pyparsing
0 upgraded, 2 newly installed, 0 to remove and 91 not upgraded.
Need to get 71.7 kB of archives.
After this operation, 347 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 python-pyparsing all 2.2.0+dfsg1-2 [52.1 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python-pydot all 1.2.3-1 [19.6 kB]
Fetched 71.7 kB in 1s (94.9 kB/s)
Selecting previously unselected package python-pyparsing.
(Reading database ... 144568 files and directories currently installed.)
Preparing to unpack .../python-pyparsing_2.2.0+dfsg1-2_all.deb ...
Unpacking python-pyparsing (2.2.0+dfsg1-2) ...
Selecting previously unselected package python-pydot.
Preparing to unpack .../python-pydot_1.2.3-1_all.deb ...
Unpacking python-pydot (1.2.3-1) ...
Setting up python-pyparsing (2.2.0+dfsg1-2) ...
Setting up python-pydot (1.2.3-1) ...

In [0]:
# ライブラリのロード
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_boston
import io

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# ローカルのファイルをロード
pd.set_option('display.max_columns', 100)
sales_train = pd.read_csv('/content/sales_train_validation.csv')
calender = pd.read_csv('/content/calendar.csv')
submission = pd.read_csv('/content/sample_submission.csv')
prices = pd.read_csv('/content/sell_prices.csv')
#evaluation = pd.read_csv('/content/sales_train_evaluation.csv')

In [0]:
calender.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [0]:
calender.describe()

,wm_yr_wk,wday,month,year,snap_CA,snap_TX,snap_WI
count,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000,1969.000000
mean,11347.086338,3.997461,6.325546,2013.288471,0.330117,0.330117,0.330117
std,155.277043,2.001141,3.416864,1.580198,0.470374,0.470374,0.470374
min,11101.000000,1.000000,1.000000,2011.000000,0.000000,0.000000,0.000000
25%,11219.000000,2.000000,3.000000,2012.000000,0.000000,0.000000,0.000000
50%,11337.000000,4.000000,6.000000,2013.000000,0.000000,0.000000,0.000000
75%,11502.000000,6.000000,9.000000,2015.000000,1.000000,1.000000,1.000000
max,11621.000000,7.000000,12.000000,2016.000000,1.000000,1.000000,1.000000

In [0]:
calender['d'].count()

1969

In [0]:
calender['event_type_1'].value_counts(dropna=False)

NaN          1807
Religious      55
National       52
Cultural       37
Sporting       18
Name: event_type_1, dtype: int64

In [0]:
calender['event_type_2'].value_counts(dropna=False)

NaN          1964
Cultural        4
Religious       1
Name: event_type_2, dtype: int64

# 新しいセクション

In [0]:
calender['event_name_1'].value_counts(dropna=False)

NaN                    1807
PresidentsDay             6
Mother's day              6
NBAFinalsStart            6
Pesach End                6
StPatricksDay             6
LentWeek2                 6
NBAFinalsEnd              6
SuperBowl                 6
LentStart                 6
Ramadan starts            6
Purim End                 6
ValentinesDay             6
MemorialDay               6
OrthodoxEaster            5
IndependenceDay           5
LaborDay                  5
ColumbusDay               5
NewYear                   5
Cinco De Mayo             5
Christmas                 5
MartinLutherKingDay       5
Halloween                 5
EidAlAdha                 5
Chanukah End              5
Thanksgiving              5
Easter                    5
VeteransDay               5
OrthodoxChristmas         5
Eid al-Fitr               5
Father's day              4
Name: event_name_1, dtype: int64

In [0]:
calender['event_name_2'].value_counts(dropna=False)

NaN               1964
Father's day         2
Easter               1
OrthodoxEaster       1
Cinco De Mayo        1
Name: event_name_2, dtype: int64

In [0]:
sales_train.head()

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4

[5 rows x 1919 columns]

In [0]:
sales_train.describe()

                d_1           d_2  ...        d_1912        d_1913
count  30490.000000  30490.000000  ...  30490.000000  30490.000000
mean       1.070220      1.041292  ...      1.605838      1.633158
std        5.126689      5.365468  ...      4.089422      3.812248
min        0.000000      0.000000  ...      0.000000      0.000000
25%        0.000000      0.000000  ...      0.000000      0.000000
50%        0.000000      0.000000  ...      0.000000      0.000000
75%        0.000000      0.000000  ...      2.000000      2.000000
max      360.000000    436.000000  ...    171.000000    130.000000

[8 rows x 1913 columns]

In [0]:
prices.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [0]:
prices.describe()

           wm_yr_wk    sell_price
count  6.841121e+06  6.841121e+06
mean   1.138294e+04  4.410952e+00
std    1.486100e+02  3.408814e+00
min    1.110100e+04  1.000000e-02
25%    1.124700e+04  2.180000e+00
50%    1.141100e+04  3.470000e+00
75%    1.151700e+04  5.840000e+00
max    1.162100e+04  1.073200e+02

In [0]:
submission.head()

                              id  F1  F2  F3  F4  ...  F24  F25  F26  F27  F28
0  HOBBIES_1_001_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
1  HOBBIES_1_002_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
2  HOBBIES_1_003_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
3  HOBBIES_1_004_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
4  HOBBIES_1_005_CA_1_validation   0   0   0   0  ...    0    0    0    0    0

[5 rows x 29 columns]

In [0]:
submission.describe()

            F1       F2       F3       F4  ...      F25      F26      F27      F28
count  60980.0  60980.0  60980.0  60980.0  ...  60980.0  60980.0  60980.0  60980.0
mean       0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
std        0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
min        0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
25%        0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
50%        0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
75%        0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0
max        0.0      0.0      0.0      0.0  ...      0.0      0.0      0.0      0.0

[8 rows x 28 columns]