<a href="https://colab.research.google.com/github/THashiz/m5-ia/blob/master/M5_cal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# M5 カレンダー分析

In [2]:
# kaggle API key upload
from google.colab import files
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [0]:
!rm -rf ~/.kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json

In [4]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [5]:
# Competitionのデータをダウンロード
!kaggle competitions download -c m5-forecasting-accuracy

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading calendar.csv to /content
  0% 0.00/101k [00:00<?, ?B/s]
100% 101k/101k [00:00<00:00, 89.0MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/163k [00:00<?, ?B/s]
100% 163k/163k [00:00<00:00, 53.3MB/s]
Downloading sales_train_validation.csv.zip to /content
 32% 5.00M/15.5M [00:00<00:00, 29.3MB/s]
100% 15.5M/15.5M [00:00<00:00, 61.6MB/s]
Downloading sell_prices.csv.zip to /content
 42% 6.00M/14.2M [00:00<00:00, 61.4MB/s]
100% 14.2M/14.2M [00:00<00:00, 90.9MB/s]

In [6]:
!unzip /content/sample_submission.csv.zip
!unzip /content/sell_prices.csv.zip
!unzip /content/sales_train_validation.csv.zip

Archive:  /content/sample_submission.csv.zip
  inflating: sample_submission.csv
Archive:  /content/sell_prices.csv.zip
  inflating: sell_prices.csv
Archive:  /content/sales_train_validation.csv.zip
  inflating: sales_train_validation.csv

In [7]:
!apt-get update
!apt-get install python-pydot -y --allow-unauthenticated

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:4 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,815 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [911 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [19.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,206 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [8,507 B]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [846 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,376 kB]
Get:21 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [876 kB]
Fetched 7,328 kB in 3s (2,644 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  python-pyparsing
Suggested packages:
  python-pyparsing-doc
The following NEW packages will be installed:
  python-pydot python-pyparsing
0 upgraded, 2 newly installed, 0 to remove and 45 not upgraded.
Need to get 71.7 kB of archives.
After this operation, 347 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 python-pyparsing all 2.2.0+dfsg1-2 [52.1 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python-pydot all 1.2.3-1 [19.6 kB]
Fetched 71.7 kB in 0s (151 kB/s)
Selecting previously unselected package python-pyparsing.
(Reading database ... 144429 files and directories currently installed.)
Preparing to unpack .../python-pyparsing_2.2.0+dfsg1-2_all.deb ...
Unpacking python-pyparsing (2.2.0+dfsg1-2) ...
Selecting previously unselected package python-pydot.
Preparing to unpack .../python-pydot_1.2.3-1_all.deb ...
Unpacking python-pydot (1.2.3-1) ...
Setting up python-pyparsing (2.2.0+dfsg1-2) ...
Setting up python-pydot (1.2.3-1) ...

In [8]:
!wget https://www.sqlite.org/src/tarball/sqlite.tar.gz?r=release -O sqlite.tar.gz
!tar xzf sqlite.tar.gz
%cd sqlite/
!./configure
!make sqlite3.c
%cd /content
!npx degit coleifer/pysqlite3 -f
!cp sqlite/sqlite3.[ch] .
!python setup.py build_static build
!cp build/lib.linux-x86_64-3.6/pysqlite3/_sqlite3.cpython-36m-x86_64-linux-gnu.so \
    /usr/lib/python3.6/lib-dynload/_sqlite3.cpython-36m-x86_64-linux-gnu.so

--2020-05-13 01:40:55--  https://www.sqlite.org/src/tarball/sqlite.tar.gz?r=release
Resolving www.sqlite.org (www.sqlite.org)... 45.33.6.223, 2600:3c00::f03c:91ff:fe96:b959
Connecting to www.sqlite.org (www.sqlite.org)|45.33.6.223|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11010330 (10M) [application/x-compressed]
Saving to: ‘sqlite.tar.gz’

sqlite.tar.gz       100%[===================>]  10.50M  38.4MB/s    in 0.3s

2020-05-13 01:40:56 (38.4 MB/s) - ‘sqlite.tar.gz’ saved [11010330/11010330]

/content/sqlite
checking build system type... x86_64-pc-linux-gnu
checking host system type... x86_64-pc-linux-gnu
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compiling... no
checking for suffix of object files... o
checking whether we are using the GNU C compiler... yes
checking whether gcc accepts -g... yes
checking for gcc option to accept ISO C89... none needed
checking for a sed that does not truncate output... /bin/sed
checking for grep that handles long lines and -e... /bin/grep
checking for egrep... /bin/grep -E
checking for fgrep... /bin/grep -F
checking for ld used by gcc... /usr/bin/ld
checking if the linker (/usr/bin/ld) is GNU ld... yes
checking for BSD- or MS-compatible name lister (nm)... /usr/bin/nm -B
checking the name lister (/usr/bin/nm -B) interface... BSD nm
checking whether ln -s works... yes
checking the maximum length of command line arguments... 1572864
checking whether the shell understands some XSI constructs... yes
checking whether the shell understands "+="... yes
checking for /usr/bin/ld option to reload object files... -r
checking for objdump... objdump
checking how to recognize dependent libraries... pass_all
checking for ar... ar
checking for strip... strip
checking for ranlib... ranlib
checking command to parse /usr/bin/nm -B output from gcc object... ok
./configure: line 5195: /usr/bin/file: No such file or directory
checking how to run the C preprocessor... gcc -E
checking for ANSI C header files... yes
checking for sys/types.h... yes
checking for sys/stat.h... yes
checking for stdlib.h... yes
checking for string.h... yes
checking for memory.h... yes
checking for strings.h... yes
checking for inttypes.h... yes
checking for stdint.h... yes
checking for unistd.h... yes
checking for dlfcn.h... yes
checking for objdir... .libs
checking if gcc supports -fno-rtti -fno-exceptions... no
checking for gcc option to produce PIC... -fPIC -DPIC
checking if gcc PIC flag -fPIC -DPIC works... yes
checking if gcc static flag -static works... yes
checking if gcc supports -c -o file.o... yes
checking if gcc supports -c -o file.o... (cached) yes
checking whether the gcc linker (/usr/bin/ld) supports shared libraries... yes
checking whether -lc should be explicitly linked in... no
checking dynamic linker characteristics... GNU/Linux ld.so
checking how to hardcode library paths into programs... immediate
checking whether stripping libraries is possible... yes
checking if libtool supports shared libraries... yes
checking whether to build shared libraries... yes
checking whether to build static libraries... yes
checking for a BSD-compatible install... /usr/bin/install -c
checking for special C compiler options needed for large files... no
checking for _FILE_OFFSET_BITS value needed for large files... no
checking for int8_t... yes
checking for int16_t... yes
checking for int32_t... yes
checking for int64_t... yes
checking for intptr_t... yes
checking for uint8_t... yes
checking for uint16_t... yes
checking for uint32_t... yes
checking for uint64_t... yes
checking for uintptr_t... yes
checking for sys/types.h... (cached) yes
checking for stdlib.h... (cached) yes
checking for stdint.h... (cached) yes
checking for inttypes.h... (cached) yes
checking malloc.h usability... yes
checking malloc.h presence... yes
checking for malloc.h... yes
checking for fdatasync... yes
checking for gmtime_r... yes
checking for isnan... yes
checking for localtime_r... yes
checking for localtime_s... no
checking for malloc_usable_size... yes
checking for strchrnul... yes
checking for usleep... yes
checking for utime... yes
checking for pread... yes
checking for pread64... yes
checking for pwrite... yes
checking for pwrite64... yes
checking for tclsh8.7... no
checking for tclsh8.6... tclsh8.6
configure: Version set to 3.31
configure: Release set to 3.31.1
configure: Version number set to 3031001
checking whether to support threadsafe operation... yes
checking for library containing pthread_create... -lpthread
checking for library containing pthread_mutexattr_init... none required
checking whether to support shared library linked as release mode or not... no
checking whether to use an in-ram database for temporary tables... no
checking if executables have the .exe suffix... unknown
checking for Tcl configuration... found /usr/lib/tclConfig.sh
checking for existence of /usr/lib/tclConfig.sh... loading
checking for library containing readline... no
checking for library containing tgetent... -lncurses
checking for readline in -lreadline... yes
checking readline.h usability... no
checking readline.h presence... no
checking for readline.h... no
checking for /usr/include/readline.h... no
checking for /usr/include/readline/readline.h... yes
checking for library containing fdatasync... none required
checking zlib.h usability... yes
checking zlib.h presence... yes
checking for zlib.h... yes
checking for library containing deflate... -lz
checking for library containing dlopen... -ldl
checking whether to support MEMSYS5... no
checking whether to support MEMSYS3... no
configure: creating ./config.status
config.status: creating Makefile
config.status: creating sqlite3.pc
config.status: creating config.h
config.status: executing libtool commands
gcc  -g -O2 -o mkkeywordhash   /content/sqlite/tool/mkkeywordhash.c
./mkkeywordhash >keywordhash.h
gcc  -g -O2 -o lemon /content/sqlite/tool/lemon.c
cp /content/sqlite/tool/lempar.c .
cp /content/sqlite/src/parse.y .
./lemon   -S parse.y
cat parse.h /content/sqlite/src/vdbe.c | tclsh8.6 /content/sqlite/tool/mkopcodeh.tcl >opcodes.h
tclsh8.6 /content/sqlite/tool/mkopcodec.tcl opcodes.h >opcodes.c
tclsh8.6 /content/sqlite/tool/mkshellc.tcl >shell.c
gcc  -g -O2 -o mksourceid /content/sqlite/tool/mksourceid.c
tclsh8.6 /content/sqlite/tool/mksqlite3h.tcl /content/sqlite >sqlite3.h
cp /content/sqlite/ext/fts5/fts5parse.y .
rm -f fts5parse.h
./lemon  -S fts5parse.y
tclsh8.6 /content/sqlite/ext/fts5/tool/mkfts5c.tcl
cp /content/sqlite/ext/fts5/fts5.h .
rm -rf tsrc
mkdir tsrc
cp -f /content/sqlite/src/alter.c /content/sqlite/src/analyze.c /content/sqlite/src/attach.c /content/sqlite/src/auth.c /content/sqlite/src/backup.c /content/sqlite/src/bitvec.c /content/sqlite/src/btmutex.c /content/sqlite/src/btree.c /content/sqlite/src/btree.h /content/sqlite/src/btreeInt.h /content/sqlite/src/build.c /content/sqlite/src/callback.c /content/sqlite/src/complete.c /content/sqlite/src/ctime.c /content/sqlite/src/date.c /content/sqlite/src/dbpage.c /content/sqlite/src/dbstat.c /content/sqlite/src/delete.c /content/sqlite/src/expr.c /content/sqlite/src/fault.c /content/sqlite/src/fkey.c /content/sqlite/src/func.c /content/sqlite/src/global.c /content/sqlite/src/hash.c /content/sqlite/src/hash.h /content/sqlite/src/hwtime.h /content/sqlite/src/insert.c /content/sqlite/src/legacy.c /content/sqlite/src/loadext.c /content/sqlite/src/main.c /content/sqlite/src/malloc.c /content/sqlite/src/mem0.c /content/sqlite/src/mem1.c /content/sqlite/src/mem2.c /content/sqlite/src/mem3.c /content/sqlite/src/mem5.c /content/sqlite/src/memdb.c /content/sqlite/src/memjournal.c /content/sqlite/src/msvc.h /content/sqlite/src/mutex.c /content/sqlite/src/mutex.h /content/sqlite/src/mutex_noop.c /content/sqlite/src/mutex_unix.c /content/sqlite/src/mutex_w32.c /content/sqlite/src/notify.c /content/sqlite/src/os.c /content/sqlite/src/os.h /content/sqlite/src/os_common.h /content/sqlite/src/os_setup.h /content/sqlite/src/os_unix.c /content/sqlite/src/os_win.c /content/sqlite/src/os_win.h /content/sqlite/src/pager.c /content/sqlite/src/pager.h /content/sqlite/src/parse.y /content/sqlite/src/pcache.c /content/sqlite/src/pcache.h /content/sqlite/src/pcache1.c /content/sqlite/src/pragma.c /content/sqlite/src/pragma.h /content/sqlite/src/prepare.c /content/sqlite/src/printf.c /content/sqlite/src/random.c /content/sqlite/src/resolve.c /content/sqlite/src/rowset.c /content/sqlite/src/select.c /content/sqlite/src/status.c /content/sqlite/src/shell.c.in /content/sqlite/src/sqlite.h.in /content/sqlite/src/sqlite3ext.h /content/sqlite/src/sqliteInt.h /content/sqlite/src/sqliteLimit.h /content/sqlite/src/table.c /content/sqlite/src/tclsqlite.c /content/sqlite/src/threads.c /content/sqlite/src/tokenize.c /content/sqlite/src/treeview.c /content/sqlite/src/trigger.c /content/sqlite/src/utf.c /content/sqlite/src/update.c /content/sqlite/src/upsert.c /content/sqlite/src/util.c /content/sqlite/src/vacuum.c /content/sqlite/src/vdbe.c /content/sqlite/src/vdbe.h /content/sqlite/src/vdbeapi.c /content/sqlite/src/vdbeaux.c /content/sqlite/src/vdbeblob.c /content/sqlite/src/vdbemem.c /content/sqlite/src/vdbesort.c /content/sqlite/src/vdbetrace.c /content/sqlite/src/vdbeInt.h /content/sqlite/src/vtab.c /content/sqlite/src/vxworks.h /content/sqlite/src/wal.c /content/sqlite/src/wal.h /content/sqlite/src/walker.c /content/sqlite/src/where.c /content/sqlite/src/wherecode.c /content/sqlite/src/whereexpr.c /content/sqlite/src/whereInt.h /content/sqlite/src/window.c /content/sqlite/ext/fts1/fts1.c /content/sqlite/ext/fts1/fts1.h /content/sqlite/ext/fts1/fts1_hash.c /content/sqlite/ext/fts1/fts1_hash.h /content/sqlite/ext/fts1/fts1_porter.c /content/sqlite/ext/fts1/fts1_tokenizer.h /content/sqlite/ext/fts1/fts1_tokenizer1.c /content/sqlite/ext/fts2/fts2.c /content/sqlite/ext/fts2/fts2.h /content/sqlite/ext/fts2/fts2_hash.c /content/sqlite/ext/fts2/fts2_hash.h /content/sqlite/ext/fts2/fts2_icu.c /content/sqlite/ext/fts2/fts2_porter.c /content/sqlite/ext/fts2/fts2_tokenizer.h /content/sqlite/ext/fts2/fts2_tokenizer.c /content/sqlite/ext/fts2/fts2_tokenizer1.c /content/sqlite/ext/fts3/fts3.c /content/sqlite/ext/fts3/fts3.h /content/sqlite/ext/fts3/fts3Int.h /content/sqlite/ext/fts3/fts3_aux.c /content/sqlite/ext/fts3/fts3_expr.c /content/sqlite/ext/fts3/fts3_hash.c /content/sqlite/ext/fts3/fts3_hash.h /content/sqlite/ext/fts3/fts3_icu.c /content/sqlite/ext/fts3/fts3_porter.c /content/sqlite/ext/fts3/fts3_snippet.c /content/sqlite/ext/fts3/fts3_tokenizer.h /content/sqlite/ext/fts3/fts3_tokenizer.c /content/sqlite/ext/fts3/fts3_tokenizer1.c /content/sqlite/ext/fts3/fts3_tokenize_vtab.c /content/sqlite/ext/fts3/fts3_unicode.c /content/sqlite/ext/fts3/fts3_unicode2.c /content/sqlite/ext/fts3/fts3_write.c /content/sqlite/ext/icu/sqliteicu.h /content/sqlite/ext/icu/icu.c /content/sqlite/ext/rtree/rtree.h /content/sqlite/ext/rtree/rtree.c /content/sqlite/ext/rtree/geopoly.c /content/sqlite/ext/session/sqlite3session.c /content/sqlite/ext/session/sqlite3session.h /content/sqlite/ext/userauth/userauth.c /content/sqlite/ext/userauth/sqlite3userauth.h /content/sqlite/ext/rbu/sqlite3rbu.h /content/sqlite/ext/rbu/sqlite3rbu.c /content/sqlite/ext/misc/json1.c /content/sqlite/ext/misc/stmt.c keywordhash.h opcodes.c opcodes.h parse.c parse.h config.h shell.c sqlite3.h tsrc
rm tsrc/sqlite.h.in tsrc/parse.y
tclsh8.6 /content/sqlite/tool/vdbe-compress.tcl  <tsrc/vdbe.c >vdbe.new
mv vdbe.new tsrc/vdbe.c
cp fts5.c fts5.h tsrc
touch .target_source
tclsh8.6 /content/sqlite/tool/mksqlite3c.tcl
cp tsrc/sqlite3ext.h .
cp /content/sqlite/ext/session/sqlite3session.h .
/content
npx: installed 1 in 2.636s
> destination directory is not empty. Using --force, continuing
> cloned coleifer/pysqlite3#master
running build_static
Builds a C extension using a sqlite3 amalgamation
building 'pysqlite3._sqlite3' extension
creating build
creating build/temp.linux-x86_64-3.6
creating build/temp.linux-x86_64-3.6/src
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/module.c -o build/temp.linux-x86_64-3.6/src/module.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/connection.c -o build/temp.linux-x86_64-3.6/src/connection.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/cursor.c -o build/temp.linux-x86_64-3.6/src/cursor.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/cache.c -o build/temp.linux-x86_64-3.6/src/cache.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/microprotocols.c -o build/temp.linux-x86_64-3.6/src/microprotocols.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/prepare_protocol.c -o build/temp.linux-x86_64-3.6/src/prepare_protocol.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/statement.c -o build/temp.linux-x86_64-3.6/src/statement.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/util.c -o build/temp.linux-x86_64-3.6/src/util.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/row.c -o build/temp.linux-x86_64-3.6/src/row.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c src/blob.c -o build/temp.linux-x86_64-3.6/src/blob.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -I. -I/usr/include/python3.6m -c ./sqlite3.c -o build/temp.linux-x86_64-3.6/./sqlite3.o
creating build/lib.linux-x86_64-3.6
creating build/lib.linux-x86_64-3.6/pysqlite3
x86_64-linux-gnu-gcc -pthread -shared -Wl,-O1 -Wl,-Bsymbolic-functions -Wl,-Bsymbolic-functions -Wl,-z,relro -Wl,-Bsymbolic-functions -Wl,-z,relro -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 build/temp.linux-x86_64-3.6/src/module.o build/temp.linux-x86_64-3.6/src/connection.o build/temp.linux-x86_64-3.6/src/cursor.o build/temp.linux-x86_64-3.6/src/cache.o build/temp.linux-x86_64-3.6/src/microprotocols.o build/temp.linux-x86_64-3.6/src/prepare_protocol.o build/temp.linux-x86_64-3.6/src/statement.o build/temp.linux-x86_64-3.6/src/util.o build/temp.linux-x86_64-3.6/src/row.o build/temp.linux-x86_64-3.6/src/blob.o build/temp.linux-x86_64-3.6/./sqlite3.o -o build/lib.linux-x86_64-3.6/pysqlite3/_sqlite3.cpython-36m-x86_64-linux-gnu.so -lm
running build
running build_py
copying pysqlite3/dbapi2.py -> build/lib.linux-x86_64-3.6/pysqlite3

In [1]:
# ライブラリのロード
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_boston
from IPython.display import display, Image, display_png
import io

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# ローカルのファイルをロード
pd.set_option('display.max_columns', 200)
#sales_train = pd.read_csv('/content/sales_train_validation.csv')
calender = pd.read_csv('/content/calendar.csv')
#submission = pd.read_csv('/content/sample_submission.csv')
#prices = pd.read_csv('/content/sell_prices.csv')
#evaluation = pd.read_csv('/content/sales_train_evaluation.csv')

## calenderの分析

In [3]:
calender.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [0]:
# event1, event2を集約する
event1 = calender.loc[ : , ['year','date','event_type_1','event_name_1']].rename(columns={'event_type_1': 'event_type','event_name_1': 'event_name'}).dropna()
event2 = calender.loc[ : , ['year','date','event_type_2','event_name_2']].rename(columns={'event_type_2': 'event_type','event_name_2': 'event_name'}).dropna()
events = event1.append(event2)

In [5]:
uniqEvents=events.groupby(['event_name','year','date']).count()
display(uniqEvents)

                              event_type
event_name   year date
Chanukah End 2011 2011-12-28           1
             2012 2012-12-16           1
             2013 2013-12-05           1
             2014 2014-12-24           1
             2015 2015-12-14           1
...                                  ...
VeteransDay  2011 2011-11-11           1
             2012 2012-11-11           1
             2013 2013-11-11           1
             2014 2014-11-11           1
             2015 2015-11-11           1

[167 rows x 1 columns]

In [0]:
uniqEvents.to_csv('/content/cal_events.csv')

In [16]:
# 手ゴネで作成したevents.csvをロード
#url = 'https://github.com/THashiz/m5-ia/blob/master/events.csv'
uploaded = files.upload()

Saving events.csv to events.csv

In [0]:
events = pd.read_csv('/content/events.csv')

In [8]:
events.head()

  org_event_name  year        date event_name        from          to
0   Chanukah End  2011  2011-12-28   Chanukah  2011-12-20  2011-12-28
1   Chanukah End  2012  2012-12-16   Chanukah  2012-12-08  2012-12-16
2   Chanukah End  2013  2013-12-05   Chanukah  2013-11-27  2013-12-05
3   Chanukah End  2014  2014-12-24   Chanukah  2014-12-16  2014-12-24
4   Chanukah End  2015  2015-12-14   Chanukah  2015-12-06  2015-12-14

In [0]:
event_type1 = calender.loc[ : , ['event_type_1','event_name_1']].rename(columns={'event_type_1': 'event_type','event_name_1': 'org_event_name'}).dropna()
event_type2 = calender.loc[ : , ['event_type_2','event_name_2']].rename(columns={'event_type_2': 'event_type','event_name_2': 'org_event_name'}).dropna()
event_types= event_type1.append(event_type2).drop_duplicates()

add_type = pd.merge(events, event_types, on='org_event_name')

In [0]:
new_events = add_type.loc[ : , ['event_type','event_name','year','from','to']].rename(columns={'from': 'from_day','to': 'to_day'}).dropna()

In [12]:
display(new_events)

    event_type   event_name  year    from_day      to_day
0    Religious     Chanukah  2011  2011-12-20  2011-12-28
1    Religious     Chanukah  2012  2012-12-08  2012-12-16
2    Religious     Chanukah  2013  2013-11-27  2013-12-05
3    Religious     Chanukah  2014  2014-12-16  2014-12-24
4    Religious     Chanukah  2015  2015-12-06  2015-12-14
..         ...          ...   ...         ...         ...
162   National  VeteransDay  2011  2011-11-11  2011-11-11
163   National  VeteransDay  2012  2012-11-11  2012-11-11
164   National  VeteransDay  2013  2013-11-11  2013-11-11
165   National  VeteransDay  2014  2014-11-11  2014-11-11
166   National  VeteransDay  2015  2015-11-11  2015-11-11

[155 rows x 5 columns]

In [0]:
tmp_calendar = calender.loc[ : , ['date']].dropna()

In [14]:
display(tmp_calendar)

            date
0     2011-01-29
1     2011-01-30
2     2011-01-31
3     2011-02-01
4     2011-02-02
...          ...
1964  2016-06-15
1965  2016-06-16
1966  2016-06-17
1967  2016-06-18
1968  2016-06-19

[1969 rows x 1 columns]

In [15]:
import sqlite3
drive_path = '/content/cal.db'
conn = sqlite3.connect(drive_path)
sqlite3.sqlite_version

'3.31.1'

In [0]:
tmp_calendar.to_sql('tmp_calendar', conn, schema=None, if_exists='replace', index=False)

In [0]:
new_events.to_sql('new_events', conn, schema=None, if_exists='replace', index=False)

In [0]:
# event_type毎にイベント日にフラグを立てる。イベントが重複しても1となる。
qry = '''
    select 
        date,
        case when Cultural > 0  then 1 else 0 end as Cultural,
        case when National > 0  then 1 else 0 end as National,
        case when Religious > 0 then 1 else 0 end as Religious,
        case when Sporting > 0  then 1 else 0 end as Sporting
    from (
    select
        date,
        sum(Cultural) Cultural,
        sum(National) National,
        sum(Religious) Religious,
        sum(Sporting) Sporting
    from (
    select  
        tmp_calendar.date,
        case when new_events.event_type = 'Cultural'  then 1 else 0 end as Cultural,
        case when new_events.event_type = 'National'  then 1 else 0 end as National,
        case when new_events.event_type = 'Religious' then 1 else 0 end as Religious,
        case when new_events.event_type = 'Sporting'  then 1 else 0 end as Sporting
    from tmp_calendar  
    left outer join new_events
     on 
        tmp_calendar.date between new_events.from_day and new_events.to_day
    )
    group by date
    order by date
    )
    '''
event_type_calendar = pd.read_sql_query(qry, conn)

In [19]:
event_type_calendar.count()

date         1969
Cultural     1969
National     1969
Religious    1969
Sporting     1969
dtype: int64

In [20]:
event_type_calendar.head()

         date  Cultural  National  Religious  Sporting
0  2011-01-29         0         0          0         0
1  2011-01-30         0         0          0         0
2  2011-01-31         0         0          0         0
3  2011-02-01         0         0          0         0
4  2011-02-02         0         0          0         0

In [0]:
# 保存
event_type_calendar.to_csv('/content/event_type_calendar.csv', index=0)

In [0]:
# event_type毎にイベント日にフラグを立てる。イベントが重複しても1となる。
qry = '''
    select
        date,
        sum(Chanukah) as Chanukah,
        sum(Christmas) as Christmas,
        sum(CincoDeMayo) as CincoDeMayo,
        sum(ColumbusDay) as ColumbusDay,
        sum(Easter) as Easter,
        sum(EidAlFitr) as EidAlFitr,
        sum(EidAlAdha) as EidAlAdha,
        sum(FathersDay) as FathersDay,
        sum(Halloween) as Halloween,
        sum(IndependenceDay) as IndependenceDay,
        sum(LaborDay) as LaborDay,
        sum(Lent) as Lent,
        sum(MartinLutherKingDay) as MartinLutherKingDay,
        sum(MemorialDay) as MemorialDay,
        sum(MothersDay) as MothersDay,
        sum(NBAFinal) as NBAFinal,
        sum(NewYear) as NewYear,
        sum(OrthodoxChristmas) as OrthodoxChristmas,
        sum(OrthodoxEaster) as OrthodoxEaster,
        sum(Pesach) as Pesach,
        sum(PresidentsDay) as PresidentsDay,
        sum(Purim) as Purim,
        sum(Ramadan) as Ramadan,
        sum(StPatricksDay) as StPatricksDay,
        sum(SuperBowl) as SuperBowl,
        sum(Thanksgiving) as Thanksgiving,
        sum(ValentinesDay) as ValentinesDay,
        sum(VeteransDay) as VeteransDay
    from (
    select  
        tmp_calendar.date,
        case when new_events.event_name = 'Chanukah' then 1 else 0 end as Chanukah,
        case when new_events.event_name = 'Christmas' then 1 else 0 end as Christmas,
        case when new_events.event_name = 'CincoDeMayo' then 1 else 0 end as CincoDeMayo,
        case when new_events.event_name = 'ColumbusDay' then 1 else 0 end as ColumbusDay,
        case when new_events.event_name = 'Easter' then 1 else 0 end as Easter,
        case when new_events.event_name = 'EidAlFitr' then 1 else 0 end as EidAlFitr,
        case when new_events.event_name = 'EidAlAdha' then 1 else 0 end as EidAlAdha,
        case when new_events.event_name = 'FathersDay' then 1 else 0 end as FathersDay,
        case when new_events.event_name = 'Halloween' then 1 else 0 end as Halloween,
        case when new_events.event_name = 'IndependenceDay' then 1 else 0 end as IndependenceDay,
        case when new_events.event_name = 'LaborDay' then 1 else 0 end as LaborDay,
        case when new_events.event_name = 'Lent' then 1 else 0 end as Lent,
        case when new_events.event_name = 'MartinLutherKingDay' then 1 else 0 end as MartinLutherKingDay,
        case when new_events.event_name = 'MemorialDay' then 1 else 0 end as MemorialDay,
        case when new_events.event_name = 'MothersDay' then 1 else 0 end as MothersDay,
        case when new_events.event_name = 'NBAFinal' then 1 else 0 end as NBAFinal,
        case when new_events.event_name = 'NewYear' then 1 else 0 end as NewYear,
        case when new_events.event_name = 'OrthodoxChristmas' then 1 else 0 end as OrthodoxChristmas,
        case when new_events.event_name = 'OrthodoxEaster' then 1 else 0 end as OrthodoxEaster,
        case when new_events.event_name = 'Pesach' then 1 else 0 end as Pesach,
        case when new_events.event_name = 'PresidentsDay' then 1 else 0 end as PresidentsDay,
        case when new_events.event_name = 'Purim' then 1 else 0 end as Purim,
        case when new_events.event_name = 'Ramadan' then 1 else 0 end as Ramadan,
        case when new_events.event_name = 'StPatricksDay' then 1 else 0 end as StPatricksDay,
        case when new_events.event_name = 'SuperBowl' then 1 else 0 end as SuperBowl,
        case when new_events.event_name = 'Thanksgiving' then 1 else 0 end as Thanksgiving,
        case when new_events.event_name = 'ValentinesDay' then 1 else 0 end as ValentinesDay,
        case when new_events.event_name = 'VeteransDay' then 1 else 0 end as VeteransDay
    from tmp_calendar  
    left outer join new_events
     on 
        tmp_calendar.date between new_events.from_day and new_events.to_day
    )
    group by date
    order by date
    '''
event_name_calendar = pd.read_sql_query(qry, conn)

In [24]:
event_name_calendar.count()

date                   1969
Chanukah               1969
Christmas              1969
CincoDeMayo            1969
ColumbusDay            1969
Easter                 1969
EidAlFitr              1969
EidAlAdha              1969
FathersDay             1969
Halloween              1969
IndependenceDay        1969
LaborDay               1969
Lent                   1969
MartinLutherKingDay    1969
MemorialDay            1969
MothersDay             1969
NBAFinal               1969
NewYear                1969
OrthodoxChristmas      1969
OrthodoxEaster         1969
Pesach                 1969
PresidentsDay          1969
Purim                  1969
Ramadan                1969
StPatricksDay          1969
SuperBowl              1969
Thanksgiving           1969
ValentinesDay          1969
VeteransDay            1969
dtype: int64

In [25]:
event_name_calendar.head()

,date,Chanukah,Christmas,CincoDeMayo,ColumbusDay,Easter,EidAlFitr,EidAlAdha,FathersDay,Halloween,IndependenceDay,LaborDay,Lent,MartinLutherKingDay,MemorialDay,MothersDay,NBAFinal,NewYear,OrthodoxChristmas,OrthodoxEaster,Pesach,PresidentsDay,Purim,Ramadan,StPatricksDay,SuperBowl,Thanksgiving,ValentinesDay,VeteransDay
0,2011-01-29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2011-01-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2011-01-31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2011-02-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2011-02-02,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [0]:
event_name_calendar.to_csv('/content/event_name_calendar.csv', index=0)

In [0]:
# event_type毎にイベント日にフラグを立てる。イベントが重複しても1となる。
qry = '''
    select
        date,
        sum(Chanukah) as E01,
        sum(Christmas) as E02,
        sum(CincoDeMayo) as E03,
        sum(ColumbusDay) as E04,
        sum(Easter) as E05,
        sum(EidAlFitr) as E06,
        sum(EidAlAdha) as E07,
        sum(FathersDay) as E08,
        sum(Halloween) as E09,
        sum(IndependenceDay) as E10,
        sum(LaborDay) as E11,
        sum(Lent) as E12,
        sum(MartinLutherKingDay) as E13,
        sum(MemorialDay) as E14,
        sum(MothersDay) as E15,
        sum(NBAFinal) as E16,
        sum(NewYear) as E17,
        sum(OrthodoxChristmas) as E18,
        sum(OrthodoxEaster) as E19,
        sum(Pesach) as E20,
        sum(PresidentsDay) as E21,
        sum(Purim) as E22,
        sum(Ramadan) as E23,
        sum(StPatricksDay) as E24,
        sum(SuperBowl) as E25,
        sum(Thanksgiving) as E26,
        sum(ValentinesDay) as E27,
        sum(VeteransDay) as E28
    from (
    select  
        tmp_calendar.date,
        case when new_events.event_name = 'Chanukah' then 1 else 0 end as Chanukah,
        case when new_events.event_name = 'Christmas' then 1 else 0 end as Christmas,
        case when new_events.event_name = 'CincoDeMayo' then 1 else 0 end as CincoDeMayo,
        case when new_events.event_name = 'ColumbusDay' then 1 else 0 end as ColumbusDay,
        case when new_events.event_name = 'Easter' then 1 else 0 end as Easter,
        case when new_events.event_name = 'EidAlFitr' then 1 else 0 end as EidAlFitr,
        case when new_events.event_name = 'EidAlAdha' then 1 else 0 end as EidAlAdha,
        case when new_events.event_name = 'FathersDay' then 1 else 0 end as FathersDay,
        case when new_events.event_name = 'Halloween' then 1 else 0 end as Halloween,
        case when new_events.event_name = 'IndependenceDay' then 1 else 0 end as IndependenceDay,
        case when new_events.event_name = 'LaborDay' then 1 else 0 end as LaborDay,
        case when new_events.event_name = 'Lent' then 1 else 0 end as Lent,
        case when new_events.event_name = 'MartinLutherKingDay' then 1 else 0 end as MartinLutherKingDay,
        case when new_events.event_name = 'MemorialDay' then 1 else 0 end as MemorialDay,
        case when new_events.event_name = 'MothersDay' then 1 else 0 end as MothersDay,
        case when new_events.event_name = 'NBAFinal' then 1 else 0 end as NBAFinal,
        case when new_events.event_name = 'NewYear' then 1 else 0 end as NewYear,
        case when new_events.event_name = 'OrthodoxChristmas' then 1 else 0 end as OrthodoxChristmas,
        case when new_events.event_name = 'OrthodoxEaster' then 1 else 0 end as OrthodoxEaster,
        case when new_events.event_name = 'Pesach' then 1 else 0 end as Pesach,
        case when new_events.event_name = 'PresidentsDay' then 1 else 0 end as PresidentsDay,
        case when new_events.event_name = 'Purim' then 1 else 0 end as Purim,
        case when new_events.event_name = 'Ramadan' then 1 else 0 end as Ramadan,
        case when new_events.event_name = 'StPatricksDay' then 1 else 0 end as StPatricksDay,
        case when new_events.event_name = 'SuperBowl' then 1 else 0 end as SuperBowl,
        case when new_events.event_name = 'Thanksgiving' then 1 else 0 end as Thanksgiving,
        case when new_events.event_name = 'ValentinesDay' then 1 else 0 end as ValentinesDay,
        case when new_events.event_name = 'VeteransDay' then 1 else 0 end as VeteransDay
    from tmp_calendar  
    left outer join new_events
     on 
        tmp_calendar.date between new_events.from_day and new_events.to_day
    )
    group by date
    order by date
    '''
event_code_calendar = pd.read_sql_query(qry, conn)

In [28]:
event_code_calendar.head()

,date,E01,E02,E03,E04,E05,E06,E07,E08,E09,E10,E11,E12,E13,E14,E15,E16,E17,E18,E19,E20,E21,E22,E23,E24,E25,E26,E27,E28
0,2011-01-29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2011-01-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2011-01-31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2011-02-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2011-02-02,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [0]:
event_code_calendar.to_csv('/content/event_code_calendar.csv', index=0)

# 休日テーブルの生成
## 作るもの
- Date   : yyyy-mm-dd
- holiday: 0:平日、1:休日
- daysleft1:休みの前日を含まない日数　
- daysleft2:休みの前日を含む日数

## 備考
http://www.startoption.com/holidays/2011/north_america/usa.html  
この辺りのカレンダーを見るとNationalのイベントが祝日  
宗教関連のイベントは法定休日ではない

In [0]:
tmp_events = calender.loc[ : , ['date','wm_yr_wk','wday','event_type_1','event_name_1']].rename(columns={'event_type_1': 'event_type','event_name_1': 'event_name'})

In [0]:
tmp_events.to_sql('tmp_events', conn, schema=None, if_exists='replace', index=False)

In [0]:
#
qry = '''
select
date,
holiday,
case when holiday=1 then holiday_count else 0 end as daysleft1,
case when weekend=1 then weekend_count else 0 end as daysleft2
from (
    select
      t2.date,
      t2.holiday,
      t2.weekend,
      row_number() OVER win1 AS holiday_count,
      row_number() OVER win2 AS weekend_count
    from (
      select
        t1.date,
        t1.wm_yr_wk,
        SUM(t1.holiday) as holiday,
        SUM(t1.weekend) as weekend
      from (
        select
          date,
          case when wday = 7 then wm_yr_wk + 1 else wm_yr_wk end as wm_yr_wk,
          case when wday = 1 then 1
             when wday = 2 then 1
             when event_type = 'National' then 1
             else 0
          end as holiday,
          case when wday = 1 then 1
             when wday = 2 then 1
             when wday = 7 then 1
             when event_type = 'National' then 1
             else 0
          end as weekend
        from tmp_events
      ) t1
      group by date, wm_yr_wk
    ) t2
WINDOW win1 AS (PARTITION BY t2.wm_yr_wk, t2.holiday ORDER BY t2.date DESC) ,
       win2 AS (PARTITION BY t2.wm_yr_wk, t2.weekend ORDER BY t2.date DESC) 
)
order by date
'''
holiday = pd.read_sql_query(qry, conn)

In [33]:
display(holiday)

            date  holiday  daysleft1  daysleft2
0     2011-01-29        1          2          2
1     2011-01-30        1          1          1
2     2011-01-31        0          0          0
3     2011-02-01        0          0          0
4     2011-02-02        0          0          0
...          ...      ...        ...        ...
1964  2016-06-15        0          0          0
1965  2016-06-16        0          0          0
1966  2016-06-17        0          0          3
1967  2016-06-18        1          2          2
1968  2016-06-19        1          1          1

[1969 rows x 4 columns]

In [34]:
holiday.count()

date         1969
holiday      1969
daysleft1    1969
daysleft2    1969
dtype: int64

In [0]:
holiday.to_csv('/content/holiday.csv', index=0)